<div *ngIf="!selectedBook">
  <h2>Sorry can't find the requested person...</h2>
</div>
<div *ngIf="selectedBook">
  <h2>Détails de la personne avec # {{selectedBook.id}}</h2>
  <div class="row">
    <div class="col-xs-3">Email:</div>
    <div class="col-xs-9">{{ selectedBook.category }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Prénom:</div>
    <div class="col-xs-9">{{ selectedBook.title }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Nom de famille:</div>
    <div class="col-xs-9">{{ selectedBook.cost }}</div>
  </div>
  <!-- 
  <div class="row" [hidden]="!selectedBook.authors">
    <div class="col-xs-3">Author:</div>
    <div class="col-xs-9"><span [innerHTML]="selectedBook.authors | authornames"></span></div>
  </div>
  <div class="row" [hidden]="!selectedBook.year">
    <div class="col-xs-3">Year:</div>
    <div class="col-xs-9">{{ selectedBook.year }}</div>
  </div>
  <div class="row" [hidden]="!selectedBook.description">
    <div class="col-xs-3">Description:</div>
    <div class="col-xs-9">{{ selectedBook.description }}</div>
  </div>
   -->
</div>
