<div class="row">
	<div class="col-md-12">


		<button class="btn btn-success" (click)="addItem()">New Item</button>

	</div>
</div>

<hr>

<div class="row">

	<div class="shopping-list col-md-3" *ngIf="items.length > 0">

		<app-shopping-list-element
			*ngFor="let item of items"
			(click)='select(item)'
			[item]="item"

			(fireDelete)='deleteCurrent()'>
		
		</app-shopping-list-element>

	</div>



	<div class="col-md-9">

		<app-shopping-view 
			*ngIf="currentItem !== null"
			[item]="currentItem">

				
			</app-shopping-view>


	</div>
	
  	
</div>